<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="LOGSTASH-PRODUCT" class="net.logstash.logback.appender.LogstashAccessTcpSocketAppender">
    <destination>localhost:5000</destination>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <root level="INFO">
    <appender-ref ref="LOGSTASH-PRODUCT"/>
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>